
@{
    ViewBag.Title = "GoodMorning";
}

<br />
<br />
<form method="post">
    <label>Enter First Name</label>
    <input type="text" name="FirstName"/><br />
    <label>Enter Last Name</label>
    <input type="text" name="LastName" /><br />
    <input type="submit" value="Submit" />
</form>