
@{
    ViewBag.Title = "Sum";
}

<h2>Sum</h2>
<form method="post">
<table>
    <tr>
        <td>
            Number1:
        </td>
        <td>
            <input type="text" value="@ViewBag.num1" name="num1"/>
        </td>
    </tr>
    <tr>
        <td>
            Number2:
        </td>
        <td>
            <input type="text"  value="@ViewBag.num2" name="num2"/>
        </td>
    </tr>

    <tr>
        <td>
            Number3:
        </td>
        <td>
            <input type="text" value="@ViewBag.num3" name="num3"/>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="submit" value="Submit"  />
        </td>
    </tr>

</table>
    </form>