
@{
    ViewBag.Title = "result";
}

<h2>result</h2>

<form method="post">

    <table>

        <tr>
            <td>
                Result:
            </td>
            <td>
                <input type="text" value="@TempData["Sum"]" />
            </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Back" />
            </td>
        </tr>

    </table>

</form>